services:
  traefik:
    image: traefik:v3.6.7
    container_name: traefik
    env_file: .env
    command:
      # traefik
      - --api.dashboard=true
      - --api.insecure=false
      # - --api.debug=true
      # log
      - --log=true
      - --log.level=ERROR
      - --log.filePath=/var/log/traefik/traefik.log
      - --accesslog=true
      - --accesslog.filePath=/var/log/traefik/access.log
      - --providers.file.filename=/dynamic.yml
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false

      # http, https
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      # Let's Encrypt
      - --certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
    ports:
      - "80:80" # http
      - "443:443" # https
      - "8080:8080" # dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/letsencrypt/acme.json
      - ./log:/var/log/traefik
      - ./dynamic.yml:/dynamic.yml
    environment:
      - TZ=UTC
    labels:
      - "traefik.enable=true"
      # Dashboard
      - "traefik.http.routers.dashboard.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      # Basic Auth Middleware
      - "traefik.http.middlewares.auth.basicauth.users=${TRAEFIK_USERNAME}:${TRAEFIK_PASSWORD}"
    restart: unless-stopped
    networks:
      - yakiniku-net

networks:
  yakiniku-net:
    external: true

# Tạo network web nếu chưa có
# docker network create yakiniku-net
# Liệt các networks đã tạo
# docker network ls
